/* =================================== */
/*  Events Page Styles
/* =================================== */

//------ calendar area ------
.calendar-area {
  margin-top: 50px;
  margin-bottom: 50px;
  .rbc-toolbar {
    button {
      border-color: $primary-color;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover,
      &:active {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
      }
    }
  }
  .rbc-active {
    background-color: $primary-color !important;
    color: $white;
    &:active {
      background-color: $primary-color !important;
      color: $white;
    }
  }
  .rbc-header {
    padding: 10px 3px;
  }
  .rbc-day-bg {
  }
  .rbc-today {
    background-color: $text-color;
  }
  .rbc-event {
    background-color: $event-color;
  }
  .rbc-agenda-view {
    .rbc-agenda-table {
      padding: 10px 3px;
    }
    table.rbc-agenda-table tbody > tr > td {
      text-align: center;
    }
  }
  .rbc-agenda-time-cell {
    padding: none;
    color: $white;
    .rbc-continues-after {
      padding: 5px 6px;
      background-color: $success;
    }
    .rbc-continues-prior {
      padding: 5px 6px;
      background-color: $danger;
    }
  }
  .rbc-now {
    a {
      color: $white;
    }
  }
}
