/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font: "Poppins", sans-serif;

// $primary-color: #f7631b;
$primary-color: #38a4ff;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: #f9f9ff;
$black: #222;
$event-color: rgba($primary-color, 0.8);

/*

$primary-font	: 'Poppins', sans-serif;
---------------------------------------------

$primary-color	: #f7631b;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

*/
